@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Satisfy&display=swap');
body {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    color: #4B4B55;
}


/*barra de navegacion*/

.nav-bar {
    display: flex;
    align-items: center;
    list-style-type: none;
    position: absolute;
    margin-left: 20px;
    padding-top: 20px;
    font-weight: 700;
    font-size: 15px;
}

li {
    margin-right: 18px;
}


/*INICIO comportamiento de links*/

a:link {
    text-decoration: none;
    color: #4B4B55;
}

a:visited {
    color: #4B4B55;
}

a:hover {
    color: #F28C8E;
}


/*FIN comportamiento de links*/

section {
    height: 600px;
}

img {
    width: 100vw;
    height: 650px;
}

.text-content-principal-section {
    height: 300px;
    width: 450px;
    position: relative;
    top: -400px;
    left: 100px;
    margin: 0px;
}

.text-content-principal-section h1 {
    font-weight: 700;
    font-size: 80px;
    margin: 0px;
}

.text-content-principal-section h2 {
    margin: 0px;
    font-size: 18px;
}

.text-content-principal-section P {
    font-weight: 700;
    font-size: 25px;
    font-family: 'Satisfy', cursive;
    margin: 0px;
    /*copie y pegue de internet un estilo fachero de degradado de texto*/
    background: -webkit-linear-gradient(left top, #DA86A9, #F28C8E);
    background: linear-gradient(to bottom right, #DA86A9, #F28C8E);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/*seccion de skills*/

.skills-section {
    width: 100vw;
    height: 400px;
    display: flex;
    flex-direction: column;
}

.skills-section img {
    width: 130px;
    height: 125px;
}

.text-skills-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 50px;
}

.text-skills-section h1 {
    font-weight: 800;
}

.text-skills-section h3 {
    font-weight: 300;
}

.icons-skills-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 50px;
}

.icons-skills-section p {
    font-weight: 700;
    display: flex;
    justify-content: center;
}